<link rel="stylesheet" type= "text/css" href="styles.css"/>
 
 
 <h1>Add New Excercise </h1>

 <form class= 'form' action= '/' method= 'POST'>

    <div class="inputParent">
        <label class= 'font' for='label'>Excercise:</label>
        <input class= 'input font' type='text' name='label'/>

        <label class= 'font' for='Date'>Date:</label>
        <input class= 'input font' type='text' name='date'/>

        <label class= 'font' for='img'>Image:</label>
        <input class= 'input font' type='text' name='img'/>

    </div>

    <input class='button font submit'type='submit' />
    <a class=' button font Cancel'href="/">Cancel</a>

</form>