 <h1>Add New Excercise </h1>

 <form action= '/add' method= 'POST'>

    <div>
        <label for= 'label'>Excercise:</label>
        <input type='text' Excercise='name/>

        <label></label>
        <input> />
    </div>


</form>