body{
    background-color: rgb(130, 224, 170);
   
    background-image: fill;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(212, 19, 178);
    
}

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(270px, max-content));
    grid-gap: 20px;
    
}

.cards{
    border: 1px black;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('https://i.imgur.com/wz0OhHj.png') ;
    /* background-color: rgb(255, 195, 0); */
    
}
 a{
    text-decoration: none;
    border: 1px rgb(212, 19, 178);
    color: rgb(69, 19, 212);
    background-color: rgb(168, 190, 244);
    border-radius: 15px;
    padding: 5px;
 }

.font{
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
}

.buttonContainer{
    padding: 20px 0px;
}

.button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.label{
    background-color: rgb(225, 196, 26);
    color: blueviolet;
}

.date{
    background-color: rgb(226, 114, 2);
    color: pink
}

.inputParent{
    padding: 10px 0px;
}

.form{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 10;
    box-sizing: content-box;
    border: 2px solid ;
    border-radius: 4px;
    /* background-color: #3CBC8D; */
    color: black;
    background-color: white;
    background-image: url('https://i.imgur.com/wz0OhHj.png');
    background-position: fill; 
    padding-left: 40px;

}

.input{
    width: 100%
}

.cancel{
    background-color: rgb(226, 114, 2);
    color: pink;
}

.submit{
    background-color: violet
    
}

.cardButtonsParent{
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    justify-items: row;

    
}

.removeFormMargin{
    margin: 0;
}
.showItems{
 background-color: rgb(130, 224, 170);
 padding-left: 50px;
 font-style: oblique;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 background-image: url('https://i.imgur.com/wz0OhHj.png');

}





    

