body{
    background-color: rgb(173, 220, 161);
}

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    grid-gap: 16px;
    
}

.cards{
    border: 1px black solid;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    
}
 a{
    text-decoration: none;
    border: 1px solid white;
    color: yellow;
    background-color: black;
    border-radius: 15px;
    padding: 5px;
 }

.font{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.buttonContainer{
    padding: 20px 0px;
}

.button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.label{
    background-color: rgb(225, 196, 26);
    color: blueviolet;
}

.date{
    background-color: rgb(225, 196, 26);
    color: blueviolet
}

.inputParent{
    padding: 10px 0px;
}

.form{
    width: 50%
}

.input{
    width: 100%
}

.cancel{
    background-color: red;
    color: pink;
}

.submit{
    background-color: blue;
    color: palevioletred;
}

.cardButtonsParent{
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
    justify-items: row;

    
}

.removeFormMargin{
    margin: 0;
}